/*.App {
  text-align: center;
}*/

/*add the scrollbar to all pages, so that adding and removing it does not mess with page width*/

html {
  overflow-y: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: whitesmoke;
}

.dog-form {
  width: 60%;
}

button {
  margin-bottom: 1em;
  margin-right: 0.5em;
}

/*pagination buttons*/

.pagination>li>a {
  color: #004800;
}

.pagination>.active>a {
  color: white;
  background-color: #004800 !Important;
  border: solid 1px #004800 !Important;
}

a {
  color: #2C942C;
}

a:hover {
  color: #1D611D;
}

.btn-success {
  background-color: #2C942C;
}

.btn-success:hover {
  background-color: #1D611D;
}

/*************************************************************************************************************************************************************************/

/***********************************************************                   HEADER               **********************************************************************/

/*************************************************************************************************************************************************************************/

.header-background {
  background-color: #004800;
}

.custom-nav-item {
  text-decoration: none;
  color: white;
}

.custom-nav-item:hover {
  color: lightgray;
}

/*************************************************************************************************************************************************************************/

/***********************************************************                   MAIN                 **********************************************************************/

/*************************************************************************************************************************************************************************/

#dog-one {
  opacity: 0.01;
  animation: dog-circle-appear 0.5s ease-in-out forwards 1;
}

#dog-two {
  opacity: 0.01;
  animation: dog-circle-appear 0.5s ease-in-out 0.5s forwards 1;
}

#dog-three {
  opacity: 0.01;
  animation: dog-circle-appear 0.5s ease-in-out 1s forwards 1;
}


@keyframes dog-circle-appear {
  from {
    opacity: 0.01;
    transform: translateY(-50px);
  }
  to {
    opacity: 1.0;
    transform: translateY(0px);

  }
}



.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 80%;
  min-height: 93vh;
  background-color: white;
}

.dog-banner {
  width: 100%;
  height: 4rem;
  object-fit: cover;
}

.content-holder {
  margin-top: 2.5em;
  margin-right: 10%;
  margin-left: 10%;
}

.home-image-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.home-image-holder img {
  object-fit: cover;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}

.dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  border-radius: 4rem;
  background-color: whitesmoke;
  width: 16em;
  transition: ease-out 0.2s;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.05);


  opacity: 0.001;
}
.home-dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  border-radius: 4rem;
  background-color: whitesmoke;
  width: 16em;
  transition: ease-out 0.2s;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.05);
}

.animated-card {
  opacity: 0.01;
  animation: cardAppear 0.2s ease-in-out forwards 1;
}

@keyframes cardAppear {
  from {
    opacity: 0.01;
    transform: translateY(50px);
  }
  to {
    opacity: 1.0;
    transform: translateY(0px);

  }
}

.de-animated-card {
  animation: cardDisappear 0.2s ease-in-out forwards 1;
}
@keyframes cardDisappear {
  from {
    opacity: 1.0;
    transform: translateY(0px);
  }
  to {
    opacity: 0.01;
    transform: translateY(50px);

  }
}

.dog-card:hover, .home-dog-card:hover {
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.3);
}

.dog-image-home {
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

/*************************************************************************************************************************************************************************/

/***********************************************************                   LIST                 **********************************************************************/

/*************************************************************************************************************************************************************************/

.list-card-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-card-holder img {
  object-fit: cover;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
}

.details-image {
  object-fit: cover;
  width: 25rem;
  height: 25rem;
  border-radius: 20%;
}

/*************************************************************************************************************************************************************************/

/***********************************************************                   CHANGE IMAGE         **********************************************************************/

/*************************************************************************************************************************************************************************/

.change-image-image {
  object-fit: cover;
  width: 25rem;
  height: 25rem;
}